
body{
    display: grid;
    place-items: center;
    height: 100vh;

}
.cont{
    width: 400px;
    height: 600px;
    border: 4px solid black;
    border-radius:5% 5%;
    background-image: linear-gradient(45deg,rgb(166, 166, 222),rgb(173, 246, 199),rgb(122, 193, 219)
    );
    

}
.form-heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

.mail{
    display: flex;
    align-items: center;
    justify-content: center;
   


}
.btn{
   color: aqua;
   background-color: black;
   border-radius: 20px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 50px;
   margin-left:170px;


}

.form-control{
    border: 2px solid blueviolet;
    padding-top: 10px;    
    padding-bottom: 10px;
    border-radius: 6px;
    margin-top: 10px;
    background-image: radial-gradient(rgb(208, 230, 236),rgb(195, 243, 230));


}